/******************STEPS*******************/
.section-steps {
    background-color: #f4f4f4;
    padding:40px;
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.7)),to(rgba(0, 0, 0, 0.7))), url(../../assets/tab.jpeg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(../../assets/tab.jpeg);
    background-size: cover;
    background-position: center;
    color: #f4f4f4;
}

.col.span_1_of_2.steps-box {
    width: 60%;
}

/* .iPhone {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px; 
} */

.steps-box {
    margin-top: 70px;
    padding-left: 3%;
    width: 60%;
    float: right;
    padding: 40px;
}

/* .app-screen {
    width: 40%;
} */

.works-steps {
    margin-bottom: 50px;
}

.last{
    margin-bottom: 80px;
}

.app-btn:link,
.app-btn:visited {
    border-bottom: 0;
}

.works-steps div {
    font-size: 150%;
    padding: 5px;
    float: left;
    text-align: center;
    border: 2px solid #e67e22;
    color: #e67e22;
    display: inline-block;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    margin-right: 25px;
}

.works-steps p {
    float: right;
    margin-left: 80px;
    margin-bottom: 40px;
    text-align: justify;
    color: #f4f4f4;
}

.works-steps h4{
    margin-bottom: 0;
    color: #f4f4f4;
}

.app-btn img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

@media screen and (max-width: 500px) {
    .steps-box {
        width: 100%;
        padding-left: 0;
    }
}