/******************STEPS*******************/
.section-steps {
    background-color: #f4f4f4;
    padding:40px;
    
    background-size: cover;
    background-position: center;
}

.col.span_1_of_2.steps-box {
    margin-left: 0;
    padding-right: 0;
    width: 50%;
}

.steps-box {
    padding-left: 3%;
    float: right;
    padding: 40px;
}

.works-steps {
    margin-bottom: 50px;
}

.last{
    margin-bottom: 80px;
}

.app-btn:link,
.app-btn:visited {
    border-bottom: 0;
}

.works-steps div {
    font-size: 150%;
    padding: 5px;
    float: left;
    text-align: center;
    border: 2px solid #e67e22;
    color: #e67e22;
    display: inline-block;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    margin-right: 25px;
}

.works-steps p {
    float: right;
    margin-left: 80px;
    margin-bottom: 20px;
    text-align: left;
}

.works-steps h4{
    margin-bottom: 0;
}

.app-btn img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

@media only screen and (max-width: 1200px) {
    .step-img img {width: 100%;}
    .step-img {margin-top: 150px;}
}

/* Small tablet to big tablets from 768 to 1023 */
@media only screen and (max-width: 1023px) {
    .step-img img {width: 100%}
    .step-img {margin-top: 300px;}
}

@media screen and (max-width: 500px) {
    .col.span_1_of_2.steps-box {
        width: 100%;
        padding: 0;
    }

    .step-img {
        display: none;
    }
}