/* .header {
    overflow: hidden;
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    max-width: 100%;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid rgba(0,0,0,.12)
} */

/* Navigation Header */

/* .main-nav {
    list-style: none;
    float: right;
    margin-top: 1%;
}

.main-nav li {
    display: inline-block;
    margin-right: 20px;
}

.main-nav li:last-of-type {
    margin-right: 23px
}

.main-nav li a:hover {
    color: #21D7FF;
}


  
.header a {
    float: left;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
} */

/* Landing Page */
.logo img {
    margin-top: 5px;
    height: 50px;
    margin-left: 20px;
    width: 100px;
}
/* .landing_page {
    top: 0;
    background-image: url(../../assets/photo-1509869175650-a1d97972541a.jpeg);
    height: 100vh;
    width: 100%;
    background-position: 100%;
    background-size: cover;
} */

/* .hero-text-box {
    position: absolute;
    width: 35%;
    top: 35%;
    left: 5%;
    color: gray
}

.hero-text-box h1 {
    color: #21D7FF;
} */

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.hero-text-box h1{
    color: #21D7FF;
}

.hero-text-box p {
    font-size: 25px;
    color: #929eaa;
}

.hero-text-box button {
    margin-top: 32px;
    width: 250px;
    height: 60px;
    font-size: 20px;
    background-color: #4B93DF;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}  

/* @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .main-nav {
      float: none;
    }
  } */

.header {
    overflow: hidden;
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

header {
    background-image:  url(../../assets/photo-1509869175650-a1d97972541a.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover {
    color: #21D7FF;
}

.header-right {
    float: right;
    padding-top: 15px;
    padding-right: 30px;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
        padding-left: 30px;
        padding-top: 0;
    }

    .logo img {
        height: 50px;
        margin-left: 15px;
        width: 100px;
    }
}