/* Landing Page */
.logo img {
    margin-top: 5px;
    height: 50px;
    margin-left: 20px;
    width: 100px;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.hero-text-box h1{
    color: #21D7FF;
}

.hero-text-box p {
    font-size: 25px;
    color: #ffffff;
    margin-left: 0;
}

.hero-text-box button {
    margin-top: 32px;
    width: 250px;
    height: 60px;
    font-size: 20px;
    background-color: #4B93DF;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
} 

.header {
    overflow: hidden;
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

header {
    background-image:  linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url(../../assets/studygroup.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

header::before{
    background-image: linear-gradient(to right,#333,#ffffff);
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover {
    color: #21D7FF;
}

.header-right {
    float: right;
    padding-top: 15px;
    padding-right: 30px;
}

@media screen and (max-width: 500px) {
    .header a {
        padding: 5px;
    }
    
    .logo img {
        width: 50px;
        margin-left: 0;
    }

    .header-right{padding-right: 10px}

    .hero-text-box {
        width: auto;
    }
}