/****************FOOTER*****************/
footer {
    background-color: #FFFFFF;
    padding: 20px 50px 50px 50px;
    font-size: 80%;
    margin: 0 50px;
}

footer img {
    width: 100px;
}

.footer-nav {
    list-style: none;
    float: left;
    text-align: justify;
}

.social-links {
    list-style: none;
    text-align: justify;
}

.social-links a {
    font-size: 100%;
    margin-right: 10px;
}

.fa-facebook-square, .fa-google-plus-square, .fa-twitter-square, .fa-instagram {
    font-size: 200%;
    margin-right: 10px;
}

.links,
.connect {
    margin-top: 30px;
}

.social-links:last-child,
.footer-nav:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    color: #888;
    border: 0;
    font-size: 20px;
}

.footer-nav li a:hover,
.footer-nav li a:active,
.social-links li a:hover,
.social-links li a:active {
    color: #014c8c;
}

.fa-facebook-square,
.fa-twitter-square,
.fa-google-plus-square,
.fa-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.fa-facebook-square:hover {
    color: #3b5998;
}

.fa-twitter-square:hover {
    color:  #55acee;
}

.fa-google-plus-square:hover {
    color: #dd4b39;
}

.fa-instagram:hover {
    color: #8a3ab9;
}

footer p {
    color: #888;
}